.progress-info {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.progress-bar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-bar-wrapper > span {
    margin-top: 5px;
}

.progress-bar-frame {
    background-color: var(--secondary);
    height: 30px;
    border-radius: 5px;
    width: 100%;
}

.progress-bar-fill {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--green);
    height: 100%;
    color: white;
    border-radius: inherit;
}

.progress-bar-fill > strong {
    margin-right: 10px;
}

.circle-dashboard {
    display: flex;
    justify-content: space-between;
}

.circle-progress-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.circle-progress-div > span {
    margin-top: 5px;
}